@font-face {
  font-family: "Kanit-Light";
  src: url("../fonts/Kanit-Light.ttf") format("truetype");
}
* {
  font-family: "Kanit-Light" !important;
  /* font: normal 0.875em/1.42857143; */
}
.bg_footer {
    height: 13rem !important;
    background-color: #f4f7fc !important;
    width: 85%;
}
.content {
    width: 85%;
}
.bg_header {
    height: 8rem !important;
    background-color: #f4f7fc !important;
}
.txtpostCode {
    color: #5376bb !important;
    font-size: 1.1em;
    font-weight: bold;
}
.btn_detail {
    background-color: #fff7e6 !important;
    color: #ef5626 !important;
}
.btn_delete {
    background-color: #fdf4f7 !important;
    color: #b93e5c !important;
}

/*@media only screen and (min-width: 75em) {

}*/